{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Modifica Property Manager</h5>
        <form method="post" action="/anagrafiche/property-manager/{{ pm.id }}/edit">
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" type="text" name="first_name" value="{{ pm.first_name }}" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Cognome</label>
            <input class="form-control" type="text" name="last_name" value="{{ pm.last_name }}" required>
          </div>
          <button class="btn btn-primary" type="submit">Salva</button>
        </form>
        <form method="post" action="/anagrafiche/property-manager/{{ pm.id }}/delete" class="mt-2">
          <button class="btn btn-danger" type="submit">Elimina PM</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
